/**
 * <%= friendlyName %> action
 *
 * Generated with: pnpm exec sails generate action <%= relPath %> <%= inputs.map(({ name, type }) => `${name}:${type}`).join(' ') %>
 */
module.exports = {
	friendlyName: "<%= friendlyName %>",
	description: "<%= friendlyName %> action.",
	inputs: {
<% inputs.forEach(({ name, type }) => { %>		<%= name %>: {
			type: "<%= type %>",
			required: true,
		},
<% }); %>	},
	fn: async (input, exits) => {
		return exits.ok({});
	},
	exits: sails.config.http.resposne,
};
